attachments/node-red-flows/scraper-rontaler.json
[
    {
        "id": "8bded944c1533e2f",
        "type": "inject",
        "z": "3f98f99919fd9b34",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "31467c3869404cd9"
            ]
        ]
    },
    {
        "id": "31467c3869404cd9",
        "type": "http request",
        "z": "3f98f99919fd9b34",
        "name": "GET News",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.rontaler.ch/?s=Dierikon",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "b3e68c3712ac6fe4"
            ]
        ]
    },
    {
        "id": "b3e68c3712ac6fe4",
        "type": "html",
        "z": "3f98f99919fd9b34",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "div.td_module_16",
        "ret": "html",
        "as": "single",
        "x": 470,
        "y": 40,
        "wires": [
            [
                "c3296b7d09f49f81"
            ]
        ]
    },
    {
        "id": "c3296b7d09f49f81",
        "type": "split",
        "z": "3f98f99919fd9b34",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "55a78ab96187f698",
                "fc18945eb738e50f",
                "13e57774884502d8",
                "1c915c131acf0ffd",
                "1cbce7cfa124a528"
            ]
        ]
    },
    {
        "id": "55a78ab96187f698",
        "type": "html",
        "z": "3f98f99919fd9b34",
        "name": "Link",
        "property": "payload",
        "outproperty": "payload",
        "tag": "a",
        "ret": "attr",
        "as": "single",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "a44815f80fea3940"
            ]
        ]
    },
    {
        "id": "fc18945eb738e50f",
        "type": "html",
        "z": "3f98f99919fd9b34",
        "name": "Time",
        "property": "payload",
        "outproperty": "payload",
        "tag": "time",
        "ret": "attr",
        "as": "single",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "fb162563de754096"
            ]
        ]
    },
    {
        "id": "fb162563de754096",
        "type": "function",
        "z": "3f98f99919fd9b34",
        "name": "",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\",\n        \"externalKey\": \"SHA hash\"\n    }\n\n*/\n\nvar newTopic = \"dateOriginalPost\";\nvar dateOriginalPost = msg.payload[0].datetime;\nvar newPayload = dateOriginalPost+\"Z\";\n\nmsg.topic = newTopic;\nmsg.payload = newPayload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "68b53257ddb73cb8"
            ]
        ]
    },
    {
        "id": "68b53257ddb73cb8",
        "type": "join",
        "z": "3f98f99919fd9b34",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 360,
        "wires": [
            [
                "bdec259b4997ff9e"
            ]
        ]
    },
    {
        "id": "a44815f80fea3940",
        "type": "function",
        "z": "3f98f99919fd9b34",
        "name": "",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\",\n        \"externalKey\": \"SHA hash\"\n    }\n\n*/\n\nvar newTopic = \"linkOriginalPost\";\nvar linkOriginalPost = msg.payload[0].href;\nvar newPayload = linkOriginalPost;\n\nmsg.topic = newTopic;\nmsg.payload = newPayload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "68b53257ddb73cb8"
            ]
        ]
    },
    {
        "id": "13e57774884502d8",
        "type": "html",
        "z": "3f98f99919fd9b34",
        "name": "Description",
        "property": "payload",
        "outproperty": "payload",
        "tag": "a",
        "ret": "attr",
        "as": "single",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "64f4a2b7ed81934e"
            ]
        ]
    },
    {
        "id": "64f4a2b7ed81934e",
        "type": "function",
        "z": "3f98f99919fd9b34",
        "name": "",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\",\n        \"externalKey\": \"SHA hash\"\n    }\n\n*/\n\nvar newTopic = \"description\";\nvar description = msg.payload[0].title;\nvar newPayload = description;\n\nmsg.topic = newTopic;\nmsg.payload = newPayload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "68b53257ddb73cb8"
            ]
        ]
    },
    {
        "id": "1c915c131acf0ffd",
        "type": "html",
        "z": "3f98f99919fd9b34",
        "name": "Title",
        "property": "payload",
        "outproperty": "payload",
        "tag": "a",
        "ret": "attr",
        "as": "single",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "84f6e171f0932a93"
            ]
        ]
    },
    {
        "id": "84f6e171f0932a93",
        "type": "function",
        "z": "3f98f99919fd9b34",
        "name": "",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\",\n        \"externalKey\": \"SHA hash\"\n    }\n\n*/\n\nvar newTopic = \"title\";\nvar title = \"News aus dem Rontaler\";\nvar newPayload = title;\n\nmsg.topic = newTopic;\nmsg.payload = newPayload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "68b53257ddb73cb8"
            ]
        ]
    },
    {
        "id": "ca920daa046cae9a",
        "type": "join",
        "z": "3f98f99919fd9b34",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "ab446d1bf4ddcfe7"
            ]
        ]
    },
    {
        "id": "4a22d5903572e726",
        "type": "switch",
        "z": "3f98f99919fd9b34",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "externalKey",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "externalKey",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "8732b1e9f741ec7c"
            ],
            [
                "ca920daa046cae9a"
            ]
        ]
    },
    {
        "id": "8732b1e9f741ec7c",
        "type": "hash sha256",
        "z": "3f98f99919fd9b34",
        "name": "",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "ca920daa046cae9a"
            ]
        ]
    },
    {
        "id": "1cbce7cfa124a528",
        "type": "html",
        "z": "3f98f99919fd9b34",
        "name": "Externalkey",
        "property": "payload",
        "outproperty": "payload",
        "tag": "time",
        "ret": "attr",
        "as": "single",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "c43cb1dc84483a81"
            ]
        ]
    },
    {
        "id": "c43cb1dc84483a81",
        "type": "function",
        "z": "3f98f99919fd9b34",
        "name": "",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\",\n        \"externalKey\": \"SHA hash\"\n    }\n\n*/\n\nvar newTopic = \"externalKey\";\nvar externalKey = \"\";\nvar newPayload = externalKey;\n\nmsg.topic = newTopic;\nmsg.payload = newPayload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "68b53257ddb73cb8"
            ]
        ]
    },
    {
        "id": "bdec259b4997ff9e",
        "type": "function",
        "z": "3f98f99919fd9b34",
        "name": "",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\",\n        \"externalKey\": \"SHA hash\"\n    }\n\n*/\n\nvar externalKey = msg.payload.description+msg.payload.dateOriginalPost;\nmsg.payload.externalKey = externalKey;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 500,
        "wires": [
            [
                "80d0dadd04439482"
            ]
        ]
    },
    {
        "id": "80d0dadd04439482",
        "type": "split",
        "z": "3f98f99919fd9b34",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "4a22d5903572e726"
            ]
        ]
    },
    {
        "id": "ab446d1bf4ddcfe7",
        "type": "switch",
        "z": "3f98f99919fd9b34",
        "name": "",
        "property": "payload.dateOriginalPost",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "2021-09-01T00:00:00+00:00Z",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "256502333cc84663"
            ]
        ]
    },
    {
        "id": "4f1f275df5742382",
        "type": "debug",
        "z": "3f98f99919fd9b34",
        "name": "log to stdout",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "\"[http: \"&statusCode&\"] [node: \"&topic&\"]\"&payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "256502333cc84663",
        "type": "http request",
        "z": "3f98f99919fd9b34",
        "name": "POST news entries to API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api-dib.k8s-tst.jambor.pro/api/news",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 310,
        "y": 600,
        "wires": [
            [
                "6899363991959845"
            ]
        ]
    },
    {
        "id": "6899363991959845",
        "type": "change",
        "z": "3f98f99919fd9b34",
        "name": "Set Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Rontaler News",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 600,
        "wires": [
            [
                "4f1f275df5742382"
            ]
        ]
    },
    {
        "id": "9b223034de57b3f3",
        "type": "comment",
        "z": "3f98f99919fd9b34",
        "name": "no action when older than 01.09.2021",
        "info": "",
        "x": 210,
        "y": 640,
        "wires": []
    }
]