attachments/node-red-flows/scraper-dierikon-baugesuche.json
[
    {
        "id": "b79be9dddbbe6b97",
        "type": "comment",
        "z": "bd26b2ede712f138",
        "name": "Dierikon Baugesuche",
        "info": "",
        "x": 140,
        "y": 720,
        "wires": []
    },
    {
        "id": "ac57562cffdd3bd9",
        "type": "inject",
        "z": "bd26b2ede712f138",
        "name": "Start 1h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "a163539ad26f1c51"
            ]
        ]
    },
    {
        "id": "a163539ad26f1c51",
        "type": "http request",
        "z": "bd26b2ede712f138",
        "name": "GET Baugesuche",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.dierikon.ch/baugesuche",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 800,
        "wires": [
            [
                "5e5201cd54c6d6ec"
            ]
        ]
    },
    {
        "id": "943d451933b05688",
        "type": "function",
        "z": "bd26b2ede712f138",
        "name": "Convert JSON object",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\"\n    }\n\nRegex test Tool: https://regex101.com/\n\nRegex for URL from <a> Tag\n- Source: https://stackoverflow.com/questions/15926142/regular-expression-for-finding-href-value-of-a-a-link\n- RegEx: <a\\s+(?:[^>]*?\\s+)?href=([\"'])(.*?)\\1\n\nKEY Feld:\n- Trim\n- Hash > MD5 nicht möglich einfach so\n\n*/\n\nconst stringUrlRegex = new RegExp('<a\\\\s+(?:[^>]*?\\\\s+)?href=([\"\\'])(.*?)\\\\1');\nconst stringTitleRegex = new RegExp('>(.*?)(?=<\\/a>)');\n\nvar title = stringTitleRegex.exec(msg.payload.name)[1];\nvar dateOriginalPost = msg.payload.datum;\nvar uniqueKey = dateOriginalPost.trim()+title.trim();\nvar dayOriginalPost = dateOriginalPost.slice(0, 2);\nvar monthOriginalPost = dateOriginalPost.slice(3, 5); \nvar yearOriginalPost = dateOriginalPost.slice(6, 10);\ndateOriginalPost = new Date(yearOriginalPost, monthOriginalPost-1, dayOriginalPost);\n//dateOriginalPost = yearOriginalPost+'/'+monthOriginalPost+'/'+dayOriginalPost;\n\nvar newPayload = {};\nnewPayload[\"title\"] = \"Neues Baugesuch für Dierikon publiziert\";\nnewPayload[\"description\" ] = title;\nnewPayload[\"dateOriginalPost\"] = dateOriginalPost;\nnewPayload[\"linkOriginalPost\"] = \"https://www.dierikon.ch\" + stringUrlRegex.exec(msg.payload.name)[2];\nnewPayload[\"externalKey\"] = uniqueKey;\nmsg.payload = newPayload;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1000,
        "wires": [
            [
                "3389f37730e8148e"
            ]
        ]
    },
    {
        "id": "98762a40cac759d0",
        "type": "switch",
        "z": "bd26b2ede712f138",
        "name": "Filter empty object",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "privatKategorie",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "_thumbnail",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "_downloadBtn",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 610,
        "y": 900,
        "wires": [
            [],
            [],
            [],
            [
                "4c6d6a873d9901f2"
            ]
        ]
    },
    {
        "id": "a44a16365bf44002",
        "type": "split",
        "z": "bd26b2ede712f138",
        "name": "Split JSON objects",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 900,
        "wires": [
            [
                "98762a40cac759d0"
            ]
        ]
    },
    {
        "id": "5e5201cd54c6d6ec",
        "type": "html",
        "z": "bd26b2ede712f138",
        "name": "Extract <table>",
        "property": "payload",
        "outproperty": "payload",
        "tag": "table",
        "ret": "attr",
        "as": "single",
        "x": 520,
        "y": 800,
        "wires": [
            [
                "90b92d93e26bf98f"
            ]
        ]
    },
    {
        "id": "90b92d93e26bf98f",
        "type": "function",
        "z": "bd26b2ede712f138",
        "name": "Extract [\"data-entities\"]",
        "func": "/*\n* https://www.java-blog-buch.de/0303-nuetzliche-string-methoden/\n*/\n\nmsg.payload = msg.payload[0][\"data-entities\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 800,
        "wires": [
            [
                "78830f5aa6e2c58a"
            ]
        ]
    },
    {
        "id": "78830f5aa6e2c58a",
        "type": "json",
        "z": "bd26b2ede712f138",
        "name": "Convert JSON Object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 160,
        "y": 900,
        "wires": [
            [
                "a44a16365bf44002"
            ]
        ]
    },
    {
        "id": "d763fe2f23c3fb99",
        "type": "comment",
        "z": "bd26b2ede712f138",
        "name": "do nothing when [0]",
        "info": "",
        "x": 810,
        "y": 880,
        "wires": []
    },
    {
        "id": "4c6d6a873d9901f2",
        "type": "split",
        "z": "bd26b2ede712f138",
        "name": "Split into single new objects",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "943d451933b05688"
            ]
        ]
    },
    {
        "id": "3389f37730e8148e",
        "type": "split",
        "z": "bd26b2ede712f138",
        "name": "Split into elements",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "b28b8f6b164253a9"
            ]
        ]
    },
    {
        "id": "b28b8f6b164253a9",
        "type": "switch",
        "z": "bd26b2ede712f138",
        "name": "Seperate externalKey",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "externalKey",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "externalKey",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 1140,
        "wires": [
            [
                "083e5f95e8a82a2f"
            ],
            [
                "383a11fd3a3fb51d"
            ]
        ]
    },
    {
        "id": "083e5f95e8a82a2f",
        "type": "hash sha256",
        "z": "bd26b2ede712f138",
        "name": "SHA265 externalKey",
        "x": 440,
        "y": 1100,
        "wires": [
            [
                "383a11fd3a3fb51d"
            ]
        ]
    },
    {
        "id": "383a11fd3a3fb51d",
        "type": "join",
        "z": "bd26b2ede712f138",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 670,
        "y": 1140,
        "wires": [
            [
                "e14713a30a04ca53"
            ]
        ]
    },
    {
        "id": "e14713a30a04ca53",
        "type": "http request",
        "z": "bd26b2ede712f138",
        "name": "POST news entries to API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api-dib.k8s-tst.jambor.pro/api/news",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 450,
        "y": 1240,
        "wires": [
            [
                "b344dcd2bbd9c300"
            ]
        ]
    },
    {
        "id": "6a269c7e957bdf94",
        "type": "debug",
        "z": "bd26b2ede712f138",
        "name": "log to stdout",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "\"[http: \"&statusCode&\"] [node: \"&topic&\"]\"&payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b344dcd2bbd9c300",
        "type": "change",
        "z": "bd26b2ede712f138",
        "name": "Set Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Dierikon Baugesuche",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1240,
        "wires": [
            [
                "6a269c7e957bdf94"
            ]
        ]
    }
]