attachments/node-red-flows/scraper-luzerner-zeitung.json
[
    {
        "id": "c6b2d28e63e2d903",
        "type": "inject",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "b26e0610a7c6be71"
            ]
        ]
    },
    {
        "id": "b26e0610a7c6be71",
        "type": "http request",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.luzernerzeitung.ch/suche?q=Dierikon&filter=m1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "1513b1163c049b4d"
            ]
        ]
    },
    {
        "id": "1513b1163c049b4d",
        "type": "html",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "article",
        "ret": "html",
        "as": "single",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "787cf84dcd5fe23d"
            ]
        ]
    },
    {
        "id": "787cf84dcd5fe23d",
        "type": "split",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 60,
        "wires": [
            [
                "ccb82429cfea3ff4",
                "6fe498a44e1ff6b2",
                "6a88494d1c375511",
                "1b5cf9f00bc7a0ab",
                "b9bccdcd2e8e8b02"
            ]
        ]
    },
    {
        "id": "ccb82429cfea3ff4",
        "type": "html",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "span",
        "ret": "text",
        "as": "single",
        "x": 790,
        "y": 60,
        "wires": [
            [
                "1f00ac71d736fa5c"
            ]
        ]
    },
    {
        "id": "1f00ac71d736fa5c",
        "type": "function",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\",\n        \"externalKey\": \"SHA hash\"\n    }\n\n*/\n\nvar title = msg.payload[0].trim();\n\nvar newTopic = \"title\";\nvar newPayload = \"Luzerner Zeitung: \" + title.substring(0, 32);\n\nmsg.topic = newTopic;\nmsg.payload = newPayload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 60,
        "wires": [
            [
                "0dc7a5088f2618b3"
            ]
        ]
    },
    {
        "id": "6fe498a44e1ff6b2",
        "type": "html",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "time",
        "ret": "html",
        "as": "single",
        "x": 790,
        "y": 140,
        "wires": [
            [
                "4292ab442e973fbe"
            ]
        ]
    },
    {
        "id": "4292ab442e973fbe",
        "type": "function",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\",\n        \"externalKey\": \"SHA hash\"\n    }\n\n*/\n\nvar dateOriginalPost = msg.payload[0];\nvar dateYear = dateOriginalPost.substring(6, 10);\nvar dateMonth = dateOriginalPost.substring(3, 5);\nvar dateDay = dateOriginalPost.substring(0, 2);\ndateOriginalPost = dateYear+\"-\"+dateMonth+\"-\"+dateDay;\n\nvar newTopic = \"dateOriginalPost\";\nvar newPayload = dateOriginalPost;\n\nmsg.topic = newTopic;\nmsg.payload = newPayload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 140,
        "wires": [
            [
                "0dc7a5088f2618b3"
            ]
        ]
    },
    {
        "id": "88cb64efb63fc3c9",
        "type": "function",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\",\n        \"externalKey\": \"SHA hash\"\n    }\n\n*/\n\nconst stringUrlRegex = new RegExp('ld.[0-9]+[0-9]');\n\nvar objectInput = msg.payload[0];\nvar linkOriginalPost = stringUrlRegex.exec(objectInput.href);\n\nvar newTopic = \"linkOriginalPost\";\nvar newPayload = \"https://www.luzernerzeitung.ch/\" + linkOriginalPost;\n\nmsg.topic = newTopic;\nmsg.payload = newPayload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 180,
        "wires": [
            [
                "0dc7a5088f2618b3"
            ]
        ]
    },
    {
        "id": "6a88494d1c375511",
        "type": "html",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "a",
        "ret": "attr",
        "as": "single",
        "x": 790,
        "y": 180,
        "wires": [
            [
                "88cb64efb63fc3c9"
            ]
        ]
    },
    {
        "id": "f03f6e3178e26172",
        "type": "split",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "b8c1b77b8e378d37"
            ]
        ]
    },
    {
        "id": "3964f539ec4392fb",
        "type": "join",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 400,
        "wires": [
            [
                "c4e1ac7149e37f12"
            ]
        ]
    },
    {
        "id": "b8c1b77b8e378d37",
        "type": "switch",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "externalKey",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "externalKey",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "6dc44146a88c1cef"
            ],
            [
                "3964f539ec4392fb"
            ]
        ]
    },
    {
        "id": "6dc44146a88c1cef",
        "type": "hash sha256",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "x": 770,
        "y": 360,
        "wires": [
            [
                "3964f539ec4392fb"
            ]
        ]
    },
    {
        "id": "1b5cf9f00bc7a0ab",
        "type": "html",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "span",
        "ret": "text",
        "as": "single",
        "x": 790,
        "y": 100,
        "wires": [
            [
                "9282f39038755eb0"
            ]
        ]
    },
    {
        "id": "9282f39038755eb0",
        "type": "function",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\",\n        \"externalKey\": \"SHA hash\"\n    }\n\n*/\n\nvar description = msg.payload[1].trim();\nvar author = \"\"\n\nif (msg.payload[2] == undefined)\n    {\n        author = \"\"\n    }\nelse\n    {\n        author = \" (von \" + msg.payload[2] + \")\"\n    }\n\nvar newTopic = \"description\";\nvar newPayload = description + author;\n\nmsg.topic = newTopic;\nmsg.payload = newPayload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 100,
        "wires": [
            [
                "0dc7a5088f2618b3"
            ]
        ]
    },
    {
        "id": "0dc7a5088f2618b3",
        "type": "join",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1150,
        "y": 180,
        "wires": [
            [
                "f03f6e3178e26172"
            ]
        ]
    },
    {
        "id": "b9bccdcd2e8e8b02",
        "type": "html",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "span",
        "ret": "text",
        "as": "single",
        "x": 790,
        "y": 220,
        "wires": [
            [
                "69befb0ed659ed81"
            ]
        ]
    },
    {
        "id": "69befb0ed659ed81",
        "type": "function",
        "z": "f7e24b17501d2d4c",
        "name": "",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\",\n        \"externalKey\": \"SHA hash\"\n    }\n\n*/\n\nvar dateOriginalPost = msg.payload[0];\nvar dateYear = dateOriginalPost.substring(6, 10);\nvar dateMonth = dateOriginalPost.substring(3, 5);\nvar dateDay = dateOriginalPost.substring(0, 2);\ndateOriginalPost = dateYear+\"-\"+dateMonth+\"-\"+dateDay;\n\nvar title = msg.payload[0].trim();\ntitle = \"Luzerner Zeitung: \" + title.substring(0, 32);\n\nvar newTopic = \"externalKey\";\nvar newPayload = dateOriginalPost+title;\n\nmsg.topic = newTopic;\nmsg.payload = newPayload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 220,
        "wires": [
            [
                "0dc7a5088f2618b3"
            ]
        ]
    },
    {
        "id": "c4e1ac7149e37f12",
        "type": "http request",
        "z": "f7e24b17501d2d4c",
        "name": "POST news entries to API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api-dib.k8s-tst.jambor.pro/api/news",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 1130,
        "y": 400,
        "wires": [
            [
                "cd3206884d0dfb39"
            ]
        ]
    },
    {
        "id": "1dcfd92b4fb58eb4",
        "type": "debug",
        "z": "f7e24b17501d2d4c",
        "name": "log to stdout",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "\"[http: \"&statusCode&\"] [node: \"&topic&\"]\"&payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 500,
        "wires": []
    },
    {
        "id": "cd3206884d0dfb39",
        "type": "change",
        "z": "f7e24b17501d2d4c",
        "name": "Set Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Luzerner Zeitung",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 500,
        "wires": [
            [
                "1dcfd92b4fb58eb4"
            ]
        ]
    }
]