attachments/node-red-flows/scraper-dierikon-news.json
[
    {
        "id": "0724984fb0b2f5ed",
        "type": "debug",
        "z": "bd26b2ede712f138",
        "name": "log to stdout",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "\"[http: \"&statusCode&\"] [node: \"&topic&\"]\"&payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 560,
        "wires": []
    },
    {
        "id": "79b6fba448da5e03",
        "type": "http request",
        "z": "bd26b2ede712f138",
        "name": "POST news entries to API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api-dib.k8s-tst.jambor.pro/api/news",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 390,
        "y": 560,
        "wires": [
            [
                "d4d02398ef18f254"
            ]
        ]
    },
    {
        "id": "5a6bb74015fc9928",
        "type": "function",
        "z": "bd26b2ede712f138",
        "name": "Convert JSON object",
        "func": "/*\n\nRequired JSON structure:\n    \n    {\n        \"title\": \"API title with attachment 2\", \n        \"description\": \"API description\",\n        \"dateOriginalPost\": \"2021-08-22\",\n        \"linkOriginalPost\": \"https://jambor.pro\"\n    }\n\nRegex test Tool: https://regex101.com/\n\nRegex for URL from <a> Tag\n- Source: https://stackoverflow.com/questions/15926142/regular-expression-for-finding-href-value-of-a-a-link\n- RegEx: <a\\s+(?:[^>]*?\\s+)?href=([\"'])(.*?)\\1\n\nKEY Feld:\n- Trim\n- Hash > in next steps\n\n*/\n\nconst stringUrlRegex = new RegExp('<a\\\\s+(?:[^>]*?\\\\s+)?href=([\"\\'])(.*?)\\\\1');\nconst stringTitleRegex = new RegExp('>(.*?)(?=<\\/a>)');\n\nvar title = stringTitleRegex.exec(msg.payload.name)[1];\nvar dateOriginalPost = msg.payload.datum;\nvar uniqueKey = dateOriginalPost.trim()+title.trim();\nvar dayOriginalPost = dateOriginalPost.slice(0, 2);\nvar monthOriginalPost = dateOriginalPost.slice(3, 5); \nvar yearOriginalPost = dateOriginalPost.slice(6, 10);\ndateOriginalPost = new Date(yearOriginalPost, monthOriginalPost-1, dayOriginalPost);\n//dateOriginalPost = yearOriginalPost+'/'+monthOriginalPost+'/'+dayOriginalPost;\n\nvar newPayload = {};\nnewPayload[\"title\"] = \"Neues aus dem Gemeindehaus Dierikon\";\nnewPayload[\"description\" ] = title;\nnewPayload[\"dateOriginalPost\"] = dateOriginalPost;\nnewPayload[\"linkOriginalPost\"] = \"https://www.dierikon.ch\" + stringUrlRegex.exec(msg.payload.name)[2];\nnewPayload[\"externalKey\"] = uniqueKey;\nmsg.payload = newPayload;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [
            [
                "5246664ff92d4ee7"
            ]
        ]
    },
    {
        "id": "d83a3dbf5f84c1c4",
        "type": "switch",
        "z": "bd26b2ede712f138",
        "name": "Filter empty object",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "_thumbnail",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "_thumbnail",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 200,
        "wires": [
            [],
            [
                "0b831219983b0ea2"
            ]
        ]
    },
    {
        "id": "76ac59a2a92ecfd8",
        "type": "split",
        "z": "bd26b2ede712f138",
        "name": "Split JSON objects",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "d83a3dbf5f84c1c4"
            ]
        ]
    },
    {
        "id": "584d98bb764930f2",
        "type": "inject",
        "z": "bd26b2ede712f138",
        "name": "Start 1h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "0ec3c3f6a1fb4399"
            ]
        ]
    },
    {
        "id": "0ec3c3f6a1fb4399",
        "type": "http request",
        "z": "bd26b2ede712f138",
        "name": "GET News",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.dierikon.ch/aktuellesinformationen",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "d61ecac406001c39"
            ]
        ]
    },
    {
        "id": "d61ecac406001c39",
        "type": "html",
        "z": "bd26b2ede712f138",
        "name": "Extract <table>",
        "property": "payload",
        "outproperty": "payload",
        "tag": "table",
        "ret": "attr",
        "as": "single",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "22022361158f9aa2"
            ]
        ]
    },
    {
        "id": "22022361158f9aa2",
        "type": "function",
        "z": "bd26b2ede712f138",
        "name": "Extract [\"data-entities\"]",
        "func": "/*\n* https://www.java-blog-buch.de/0303-nuetzliche-string-methoden/\n*/\n\nmsg.payload = msg.payload[0][\"data-entities\"]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 100,
        "wires": [
            [
                "aa4da854d733f41b"
            ]
        ]
    },
    {
        "id": "aa4da854d733f41b",
        "type": "json",
        "z": "bd26b2ede712f138",
        "name": "Convert JSON Object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "76ac59a2a92ecfd8"
            ]
        ]
    },
    {
        "id": "b0d70c72423454ce",
        "type": "comment",
        "z": "bd26b2ede712f138",
        "name": "do nothing when [0]",
        "info": "",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "0b831219983b0ea2",
        "type": "split",
        "z": "bd26b2ede712f138",
        "name": "Split into single new objects",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "5a6bb74015fc9928"
            ]
        ]
    },
    {
        "id": "5246664ff92d4ee7",
        "type": "split",
        "z": "bd26b2ede712f138",
        "name": "Split into elements",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "a70d7c098e55074f"
            ]
        ]
    },
    {
        "id": "97fcd3c2054d1db6",
        "type": "join",
        "z": "bd26b2ede712f138",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 440,
        "wires": [
            [
                "79b6fba448da5e03"
            ]
        ]
    },
    {
        "id": "a70d7c098e55074f",
        "type": "switch",
        "z": "bd26b2ede712f138",
        "name": "Seperate externalKey",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "externalKey",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "externalKey",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 440,
        "wires": [
            [
                "f18e815f056ea097"
            ],
            [
                "97fcd3c2054d1db6"
            ]
        ]
    },
    {
        "id": "f18e815f056ea097",
        "type": "hash sha256",
        "z": "bd26b2ede712f138",
        "name": "SHA265 externalKey",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "97fcd3c2054d1db6"
            ]
        ]
    },
    {
        "id": "b68e97db8a88fed1",
        "type": "comment",
        "z": "bd26b2ede712f138",
        "name": "Dierikon News",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "d4d02398ef18f254",
        "type": "change",
        "z": "bd26b2ede712f138",
        "name": "Set Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Dierikon News",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 560,
        "wires": [
            [
                "0724984fb0b2f5ed"
            ]
        ]
    }
]